[submodule "configuration/bat/.config/bat/themes/night-owlish"]
	path = configuration/bat/.config/bat/themes/night-owlish
	url = https://github.com/batpigandme/night-owlish
[submodule "tools/apt/fzf"]
	path = tools/apt/fzf
	url = https://github.com/junegunn/fzf.git
