# This is Git's per-user configuration file.
[core]
	user = Nicholas Edwards
	email = edwardsnjd@googlemail.com
	excludesfile = ~/.gitexcludes
[include]
	path = .gitconfig_aliases
[include]
	path = .gitconfig_colours
[include]
	path = .gitconfig.os
[user]
	name = Nicholas Edwards
	email = edwardsnjd@googlemail.com
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
