# This is Git's per-user configuration file.
[core]
	excludesfile = ~/.gitexcludes
[user]
	name = Nicholas Edwards
	email = edwardsnjd@googlemail.com
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
[include]
	path = .gitconfig_aliases
	path = .gitconfig_colours
	path = .gitconfig.os
	path = .gitconfig.local
[init]
	defaultBranch = main
